.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 25px 3fr 1fr 25px;
    grid-template-rows: 2fr 1fr 3fr 3fr;
    grid-template-areas: 
    ". header header header"
    ". nav nav nav"
    ". main sidebar sidebar"
    ". footer footer footer";

}
.header{
    grid-area: header;
    text-align: center;
    font-size: 100px;
    background-color: #585123;
}
nav{
    grid-area: nav;
    background-color: #011638;
}

.main{
    grid-area:main;
    background-color: #585123;
    font-size: 100px;
}
.sidebar{
    grid-area: sidebar;
    background-color: #585123;
}
.footer{
    grid-area: footer;
    background-color: #776885;
}
#bild{
    width: 400px; 
    margin-left:84px ;
    margin-top: 30px;
}
.sidebar li{
    height: 10px;
}



.nav a{
    font-size: 50px;
    color: #cdcdcd;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.nav a:hover{
    background-color: rgb(244, 105, 105);
}
.nav li{
    float: left;
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    overflow: hidden;
}
#ett{
    text-align: center;
    font-size: 20px;
    
}
