.container{
    display: grid;
    height: 100vh;
    grid-template-columns: (1fr,auto);
    grid-auto-rows: (1fr,auto);
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main sidebar sidebar"
    "footer footer footer footer";

}
body{
    background-color: #585123;
}
.header{
    grid-area: header;
    text-align: center;
    font-size: 100px;
    background-color: #585123;
}

nav{
    top: 0;
    position: sticky;
    grid-area: nav;
    background-color: #011638;
}

#irontext{
    grid-area: main;
    font-size: 20px;
}

.main{
    grid-area:main;
    background-color: #585123;
    font-size: 100px;
}
#topl{
    grid-area: main;
    background-color: #585123;
    font-size: 50px;
}

.sidebar{
    grid-area: sidebar;
    background-color: #585123;
}

.footer{
    grid-area: footer;
    background-color: #776885;
}


.sidebar li{
    height: 10px;
}



nav a{
    font-size: 50px;
    color: #cdcdcd;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color: rgb(244, 105, 105);
}
nav li{
    float: left;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    overflow: hidden;
    border-radius: 30px;
    
}
.main h1{
    font-size: 50px;
    margin-bottom: 200px;

}
.footer{
    display: flex;

    justify-content: space-evenly;
   /*  flex-wrap: wrap; */

}
.footer img{
    width: 30%;
}